<?xml version="1.0" encoding="utf-8" ?>
<configuration>	
	<appSettings>
		<add key="FILES_PATH" value="d:\ingest\" />
		<add key="LOGFILE_PATH" value="d:\email\logs\" />

		<add key="CONN_STRING" value="Server=.\SQLEXPRESS;Database=Email;Integrated Security=True;" />
		<add key="TEMP_PATH" value="d:\email\temp\" />
		<add key="ERROR_PATH" value="d:\email\error\" />
		<add key="SKIP_CALENDAR" value="false" />
		<add key="TRUNCATE_TABLES" value="true" />
		<add key="EXTRACT" value="false" />
		<add key="EXTRACT_PATH" value="d:\email\extract\" />
		<add key="SKIP_EXTENSIONS" value="exe,dll,asp,aspx,bin,dat,att,tmp"/>
		<add key="DELETEDUPES_FILE" value="d:\email\dupes\deleteduplicates.bat"/>
	</appSettings>
</configuration>